<div class="ember-dialog-dialog red-corner-dialog {{if substrate 'substrate'}}">
  <div class="dialog-content" tabindex="-1">
    <div>{{yield}}</div>
    <div><a class="w-link" onclick={{action "accept"}}>Close</a></div>
  </div>
</div>
