<h1 class="w-title __w-first">{{t "tutorial.customizing_dialog"}}</h1>

<h2 class="w-subtitle">Как подключить стили в проект</h2>
<h2 class="w-subtitle">Как написать свой собственный стиль</h2>
<h2 class="w-subtitle">Как сделать анимацию</h2>
<h2 class="w-subtitle">Как создать новый лейаут</h2>
