<style type="text/css">
.class_1 {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 13;
  background: #f9f9f9;
  position: fixed;
  bottom: 0px;
  margin: 0;
  top: inherit;
  left: inherit;
  right: 30px;
  width: 100%;
}
</style>
<div class="dialog-dialog component-dialog-dialog class_1">
  <div class="row">
    <div class="col-sm-1" style="text-align: right;"><a class="w-link" onclick={{action "accept"}}>X</a></div>
    <div class="col-sm-11">{{yield}}</div>
  </div>
</div>
