@import "wheely";
@import 'addon/styles/ember-dialog';

.w-title {
  font-size: 24px;
}

.w-subtitle {
  font-size: 16px;
}

p {
    margin-bottom: 14px;
    margin-top: 0;
}

.left-nav {
  ul {
    padding-left: 0;
    .w-link {
      display: block;
      padding: 5px 4px;
      margin-bottom: 2px;
    }
  }
}

.red-corner-dialog {
  top: 0;
  margin: initial;
  transform: inherit;
  position: fixed;
  padding: 10px;
  .dialog-content {
    background: #F00;
    padding: 10px;
  }
  &.substrate {
    background-image: radial-gradient(ellipse at center, rgba(255, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.3) 100%);
    .dialog-content {
      margin: inherit;
      top: 0;
      transform: inherit;
    }
  }
}
