<h1 class="w-title __w-first">Presenter и Dialog Manager</h1>

<h2 class="w-subtitle">Presenter</h2>

<h2 class="w-subtitle">Dialog Manager</h2>

<h2 class="w-subtitle">Concept of Dialog Lifecycle</h2>
