<div class="container">
  <div class="w-body-item">

    <div class="row">
      <div class="col-sm-3 left-nav">
        <ul>
          <li>{{#link-to 'cookbook.creating' class="w-link"}}Создание окон{{/link-to}}</li>
          <li>{{#link-to 'cookbook.customization' class="w-link"}}Кастомизация окон{{/link-to}}</li>
          <li>{{#link-to 'cookbook.prevent-closing' class="w-link"}}Запрет на закрытие окна{{/link-to}}</li>
          <li>{{#link-to 'cookbook.forms' class="w-link"}}Использование форм{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-sm-9">
        {{outlet}}
      </div>
    </div>

  </div>
</div>
