<p>Typos, missing words, code samples with errors are all considered documentation bugs. If you spot one of them, or want to otherwise improve the existing guides, we are happy to help you help us!</p>

<p>Some of the more common ways to report a problem with the guides are:</p>

<ul>
<li>Using the pencil icon on the top-right of each guide page</li>
<li>Opening an issue/pull request to the GitHub repository</li>
</ul>

<p> Clicking the pencil icon will bring you to GitHub's editor for that guide so you can edit right away, using the Markdown markup language. This is the fastest way to correct a typo, a missing word, or an error in a code sample.</p>
