<div class="container">
  <div class="row">
    <div class="col-sm-4 left-nav">
      {{partial 'partials/left-nav'}}
    </div>
    <div class="col-sm-8">
      {{outlet}}
    </div>
  </div>
</div>
