<div class="container">
  <div class="w-body-item">

    <div class="row">
      <div class="col-sm-3 left-nav">
        <ul>
          <li>{{#link-to 'tutorial.creating' class="w-link"}}{{t "tutorial.creating_first_dialog"}}{{/link-to}}</li>
          <li>{{#link-to 'tutorial.presenter-and-manager' class="w-link"}}{{t "tutorial.presenter_and_manager"}}{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-sm-9">
        {{outlet}}
      </div>
    </div>

  </div>
</div>
