Full name: {{contextObject.model.first_name}} {{contextObject.model.last_name}}
Last visit: {{contextObject.model.last_visit}}

<button onclick={{action "foo" target=contextObject}}>Call foo</button>
