<h1 class="w-title __w-first">{{t "cookbook.animation"}}</h1>

TBD: Unfortunately there is no English version yet. Please see the <a class="w-link w-link__pseudo" {{action "setLanguageCode" "ru"}}>Russian version</a>, you may find useful examples there...
