<div class="notice-dialog">
  <div class="notice-dialog-content" tabindex="-1">
    {{#if templateName}}
      {{partial templateName}}
    {{else}}
      {{component "dialog-body" layout=template contextObject=contextObject context=context}}
    {{/if}}
  </div>
</div>
