.notice-dialog {
    position: relative;
    top: 0;
    right: 0;
    background: #FFF;
    width: 300px;
    min-height: 30px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}

.notice-dialog-content {
    padding: 10px;
}
